body {
    margin: 0;
}
.hry
{
    border: 6px dotted black;
    border-bottom: none;
    width: 5%;
    margin:40px auto;
}
.Icon
{
    width: 8%;
    display: block;
    margin-top: 2%;
    border-radius: 50%;
}
h4
{
    font-family: 'pacifico', cursive;
}

.OtherIcons
{
    width: 5%;
    margin: 0% 2%;
    display: inline-block;
}
#firstdivision, #seconddivision, #thirddivision, #fourthdivision
{
    height: auto;
    padding: 20px 50px 20px 50px;
    overflow: hidden;
    line-height: 2; 
    text-align: center;
}
#firstdivision
{
    background-color: #FF9595;
}
#sun_image
{
    width: 10%;
}
#Sumen_Heading , #myname, #Designation, #sun_image{
    margin: auto;
    color: #342B38;
    display: block;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
#Sumen_Heading
{
    width: 200px;
}
#myname
{
    width: 300px;
    font-size: 4em;
}
#Sumen_Applications
{
    height: 60%;
    position: absolute;
    left: 5%;
    top: 20%;
    opacity: 15%;
}
#Designation
{
    width: 200px;
}
#Sumen_Mountains
{
    height: 60%;
    position: absolute;
    right: 10%;
    top: 24%;
    opacity: 10%;
}
#seconddivision
{
    background-color: #342B38;
} 
#seconddivisionA
{
    width: 90%;
    display: block;
    align-self: center;
    margin-left: 10%;
    padding: 1%;
}
#introduction
{
    width: 80%;
    color:aliceblue;
    display: block;
    margin: 0;
    line-height: 2;
}
#sumenphoto
{
    width: 12%;
    display: block;
    left: 10%;
    float: left;
    margin: 2%;
}  
#classtenth ,#classtwelfth, #graduation
{
    background-color: whitesmoke;
    height: 10%;
    display: table-cell;
    padding: 2%;
    border-style: outset;
    border-width: 5px;
    border-color: black;
    border-radius: 10%;
}
#classtenth
{
    background-image: url(school.png);
}
#classtwelfth
{
    background-image: url(Highschool.png);
} 
#graduation
{
    background-image: url(college.png);
}
#almamaterphoto
{
    width: 40%;
    position: absolute;
    top: 100%;
    margin: auto;
    opacity: 20%;
}

#thirddivision
{
    background-color: #80BDAB;
}
#skillsicon
{
    margin: 2%;
}
#almadiv
{
    display: table;
    width: 100%;

}
#allicons
{
    display: block;
    width: 100%;
    margin:auto;
}
#fourthdivision
{
    background-color: #BBF1C8;
}
#newallicons
{
    float: right;
    text-align: left;
    line-height: 2;
    display: block;
}
.nav-link
{
    color: #BBF1C8;
}
#contacticon
{
    position: relative;
    width: 12%;
    left: 10%;
    bottom: 2%;
    opacity: 10%;
}
#fifthdivision
{
    background-color:#0A1D37;
    color: aliceblue;
}
#contactheading
{
    height: auto;
    width: auto;
    font-size: 2em;
    display: block;
    margin: 5%;
    float: left;
}
.site-footer
{
    display: block;
    font-size: 60%;
    text-align: center;
}
#expdetails
{
    line-height: 2;
    color: #342B38;
}
